<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <script src="/static/jquery-3.3.1.js"></script>
</head>
<body>
<div class="div1">
    <button style="" onclick="func1()"> click </button>
</div>
<div class="div2">

</div>
<script>

 function func1() {
     var xmlobj=new  XMLHttpRequest();

     xmlobj.onreadystatechange=function () {
         //alert(xmlobj.readyState)
         if (xmlobj.readyState==4&&xmlobj.status==200){
             var data=xmlobj.responseText;
             alert(data);

         }
     }
     //xmlobj.open("GET","/ajax/",true)
     xmlobj.open("POST","/ajax/",true);
     xmlobj.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
     xmlobj.send("name=alex")

 }


</script>
</body>

</html>