<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jqureyajax</title>
    <script src="/static/jquery-3.3.1.js"></script>
</head>
<body>
     <button onclick="func1()">click</button>

     <script>
       function  func1() {
           test()
       }  
       function  test() {
           //$.get("/jqurey_get/",{name:'agou'});
           //$.getScript()
           {% comment %}$.post("/jqurey_get/",{name:'agou'},function (data,stateText,obj) {
               //console.log(arguments)
               console.log(data);
               console.log(stateText);
               console.log(obj)
           });{% endcomment %}
           $.ajax({
               url: "/jqurey_get/",
               type:"POST",
               data:{a:1,b:[2,3]},
               traditional:"true",//当出现数组对象时使用
               dataType:"json",
               success:function (data) {
                   console.log(data["name"]);
                   console.log(typeof(data))
               }
               //processData:false//不转码
               //contentType:text,

           })

       }
         
     </script>
</body>
</html>