<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login_ajax</title>
    <script src="../static/jquery-3.3.1.js"></script>
    <script src="../static/jquery.cookie.js"></script>
</head>
<body>
     <form id="f1">
    <p>
        <label for="">用户名</label>
        <input id="u" type="text" name="user" placeholder="用户名" />

    </p>
    <p>
        <label for="">邮箱</label>
        <input id="e" type="text" name="email" placeholder="邮箱" />
    </p>
    <input id="ajax_submit" type="button" value="Ajax提交"  />
        </form>


<script>
    $(function () {
        var csrftoken = $.cookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
       bindajax();

    })
    function bindajax() {
         $("#ajax_submit").click(function () {
            $.ajax({
                url:"/login_aj",
                type:"post",
                dataType:"JSON",
                data :$("#f1").serialize(),
                success:function (arg) {
                    console.log(arg)
                    console.log(arg.userdetail[0].message)
                }
            })
        })
    }
</script>
</body>
</html>