{% load tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>video 组合搜索</title>
    <style>
        .item {
            height: 50px;
        }

        .item a {
            margin: 5px;
            padding: 2px 5px;
            background-color: pink;
        }

        .red {
            color: red;
        }
    </style>
</head>
<body>
<div style="width: 100%;height:600px;">
    <div style="height: 200px">
            <div class="item">
            <label>方向:</label>
                {% render_total2_a  kwargs "dr_id"%}
            {% for direction in direction_list%}
                {% render_direction_a direction kwargs %}


            {% endfor %}

        </div>

        <div class="item">
            <label>类别:</label>
            {% render_total2_a  kwargs "cg_id"%}
            {% for cogary in cogray_list%}
                 {% render_cegory2_a cogary kwargs %}
            {% endfor %}

        </div>
            <div class="item">
            <label>级别:</label>
            {% render_total2_a   kwargs "lv_id"%}
            {% for level in level_list %}

               {% render_level2_a level kwargs %}

            {% endfor %}

        </div>


    </div>
    <div style="height: 400px;width:100%;float:left;">
        {% for video in video_list %}
            <div style="height: 400px;float:left;">
                <img style="width:150px;height: 150px;" src="/{{ video.img }}" alt="">
                <p>{{ video.title }}</p>
                <p>{{ video.summary }}</p>
            </div>



        {% endfor %}

    </div>


</div>
</body>
</html>